<form #form="ngForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Naam</label>
    <!-- TODO: bind the input below to the name of the craftsman -->
    <input type="text" name="name" id="name" class="form-control" minlength="4" required>
  </div>

  <!-- TODO: add a checkbox and bind it to the 'active' property of the craftsman -->

  <button type="submit" class="btn btn-primary btn-lg" [disabled]="form.invalid">Opslaan</button>
</form>
