<div *ngIf="craftsmen?.length === 0">
  <div class="jumbotron">
    <p>Er zijn nog geen Craftsmen geregistreerd...</p>
    <p>
      <!-- The link below should link to the /craftsmen/add route -->
      <a class="btn btn-primary btn-lg">Voeg een Craftsman toe</a>
    </p>
  </div>
</div>

<div *ngIf="craftsmen && craftsmen.length !== 0">

  <ul class="list-unstyled">
    <li *ngFor="let craftsman of craftsmen">
      <div class="craftsman media">
        <div class="media-left">
          <img src="https://api.adorable.io/avatars/face/eyes5/nose3/mouth11/11d898" style="width: 200px" alt="">
        </div>

        <div class="media-body">
          <h1 class="media-heading">{{craftsman.name}}</h1>
          <p>Toegevoegd: {{craftsman.dateAdded}}</p>
          <p>In dienst: {{craftsman.active ? 'ja' : 'nee'}}</p>

          <p>{{craftsman.description}}</p>

          <!-- TODO: create a delete-button here -->
        </div>
      </div>
    </li>
  </ul>
  <div class="text-right">
    <!-- The button below should link to the /craftsmen/add route -->
    <button class="btn btn-primary btn-lg">Toevoegen</button>
  </div>
</div>
