/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootswatch/cosmo/bootstrap.min.css";

.craftsman {
  margin-bottom: 30px;
}

.craftsman .media-left {
  padding-right: 30px;
}

[hidden] {
  display: none;
}

img.loading {
  opacity: 0.6;
  transition: opacity 200ms linear;
}

a {
  cursor: pointer;
}

.label {
  margin-right: 10px;
}

.label a {
  color: white;
}

.label-sm {
  font-size: 12px;
}

.label-md {
  font-size: 16px;
}

.label-lg {
  font-size: 20px;
}
